 #preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader_img{
  width: 80%;
  animation: small-big-small 2s ease-in-out;
}

@keyframes small-big-small {
  0% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  height: 100%;
  padding: 0;
  margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.header{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 55px;
  background-color: #F9AE21;
  padding-top: 10px;
}

.back{
    margin-left: 3%;
    background-image: url(img/back.png);
    width: 40px;
    height: 25px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.logo{
    background-image: url(img/preloader.png);
    width: 70px;
    height: 70px;
    background-size: cover;
    margin-left: 92%;
    margin-top: -17px;
}

.title{
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0px;
  text-align: center;
  position: absolute;
  margin-left: 44%;
}

a{
  color: rgb(0, 0, 0);
}

a:link {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:active {
  border-bottom: 1px solid;
}

.photos{
  width: 60%;
  margin-left: 20%;
  height: 1000px;
  margin-top: 60px;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.photo1{
  position: absolute;
  width: 25%;
  height: 120px;
  background-image: url(img/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.photo2{
  position: absolute;
  width: 38%;
  height: 255px;
  background-image: url(img/photo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 27%;
}

.photo3{
  position: absolute;
  width: 33%;
  height: 150px;
  background-image: url(img/photo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 67%;
}

.photo4{
  position: absolute;
  width: 25%;
  height: 120px;
  background-image: url(img/photo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(2% + 120px);
}

.photo5{
  position: absolute;
  width: 33%;
  height: 300px;
  background-image: url(img/photo5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 67%;
  margin-top: calc(2% + 150px);
}

.photo6{
  position: absolute;
  width: 65%;
  height: 195px;
  background-image: url(img/photo6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(4% + 240px);
}

.photo7{
  position: absolute;
  width: 40%;
  height: 180px;
  background-image: url(img/photo7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(4% + 450px);
}
.photo8{
  position: absolute;
  width: 58%;
  height: 250px;
  background-image: url(img/photo8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 42%;
  margin-top: calc(4% + 450px);
}

.photo9{
  position: absolute;
  width: 40%;
  height: 150px;
  background-image: url(img/photo9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(6% + 630px);
}

.photo10{
  position: absolute;
  width: 25%;
  height: 130px;
  background-image: url(img/photo10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 42%;
  margin-top: calc(6% + 700px);
}

.photo11{
  position: absolute;
  width: 31%;
  height: 200px;
  background-image: url(img/photo11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 69%;
  margin-top: calc(6% + 700px);
}

.photo12{
  position: absolute;
  width: 40%;
  height: 300px;
  background-image: url(img/photo12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(10% + 765px);
}

.photo13{
  position: absolute;
  width: 25%;
  height: 250px;
  margin-left: 42%;
  background-image: url(img/photo13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(10% + 815px);
}

.photo14{
  position: absolute;
  width: 31%;
  height: 180px;
  margin-left: 69%;
  background-image: url(img/photo14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(10% + 885px);
}

.photo15{
  position: absolute;
  width: 45%;
  height: 230px;
  background-image: url(img/photo15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(12% + 1065px);
}

.photo16{
  position: absolute;
  width: 53%;
  height: 230px;
  margin-left: 47%;
  background-image: url(img/photo16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(12% + 1065px);
}

.photo17{
  position: absolute;
  width: 65%;
  height: 280px;
  background-image: url(img/photo17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(14% + 1295px);
}

.photo18{
  position: absolute;
  width: 33%;
  height: 150px;
  margin-left: 67%;
  background-image: url(img/photo18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(14% + 1295px);
}

.photo19{
  position: absolute;
  width: 33%;
  height: 170px;
  margin-left: 67%;
  background-image: url(img/photo19.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(16% + 1445px);
}

.photo20{
  position: absolute;
  width: 30%;
  height: 180px;
  background-image: url(img/photo20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(18% + 1560px);
}

.photo21{
  position: absolute;
  width: 33%;
  height: 180px;
  margin-left: 32%;
  background-image: url(img/photo21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(18% + 1560px);
}

.photo22{
  position: absolute;
  width: 33%;
  height: 125px;
  margin-left: 67%;
  background-image: url(img/photo22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(18% + 1615px);
}

.photo23{
  position: absolute;
  width: 60%;
  height: 350px;
  background-image: url(img/photo23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(20% + 1740px);
}

.photo24{
  position: absolute;
  width: 38%;
  height: 250px;
  margin-left: 62%;
  background-image: url(img/photo24.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(20% + 1740px);
}

.photo25{
  position: absolute;
  width: 60%;
  height: 230px;
  background-image: url(img/photo25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(22% + 2090px);
}

.photo26{
  position: absolute;
  width: 38%;
  height: 330px;
  margin-left: 62%;
  background-image: url(img/photo26.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(22% + 1990px);
}

.photo27{
  position: absolute;
  width: 100%;
  height: 280px;
  background-image: url(img/photo27.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: calc(24% + 2320px);
}







footer{
  width: 100%;
  height: 850px;
  margin-top: 2800px;
  background-image: url('img/end.png');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}