#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader_img{
  width: 80%;
  animation: small-big-small 2s ease-in-out;
}

@keyframes small-big-small {
  0% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  height: 100%;
  padding: 0;
  margin: 0;
}


.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
}


.header{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 55px;
  background-color: #F9AE21;
  padding-top: 10px;
}

.back{
    margin-left: 3%;
    background-image: url(img/back.png);
    width: 40px;
    height: 25px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.logo{
    background-image: url(img/preloader.png);
    width: 70px;
    height: 70px;
    background-size: cover;
    margin-left: 92%;
    margin-top: -17px;
}

.title{
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0px;
  text-align: center;
  position: absolute;
  margin-left: 36%;
}

.cards{
  width: 64%;
  margin-left: 18%;
  position: relative;
  margin-top: 50px;
  display: inline-block;
}

.card1{
  position: absolute;
  width: 45%;
  height: 230px;
  border-radius: 35px;
  background-image: url(img/архыз_без_рюкзака.jpg);
  background-size: cover;
}

.card2{
  position: absolute;
  width: 45%;
  height: 230px;
  margin-left: 55%;
  border-radius: 35px;
  background-image: url(img/дигория_без_рюкзака.jpg);
  background-size: cover;
}

.card3{
  position: absolute;
  width: 45%;
  height: 230px;
  border-radius: 35px;
  background-image: url(img/Безенги_без_рюкзака.jpg);
  background-size: cover;
  margin-top: 280px;
}


.card1_name{
  text-align: center;
  margin-top: 80px;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0px;
}

.card1_btn{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F9AE21;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  border-radius: 10px;
  margin-left: 30%;
  box-shadow: 2px 2px 5px 0.5px rgb(74, 74, 74);
}

.card2_name{
  text-align: center;
  margin-top: 80px;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0px;
}

.card2_btn{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F9AE21;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  border-radius: 10px;
  margin-left: 30%;
  box-shadow: 2px 2px 5px 0.5px rgb(74, 74, 74);
}

.card3_name{
  text-align: center;
  margin-top: 60px;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0px;
}

.card3_btn{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F9AE21;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  border-radius: 10px;
  margin-left: 30%;
  box-shadow: 2px 2px 5px 0.5px rgb(74, 74, 74);
}



a:link {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:active {
  border-bottom: 1px solid;
}

footer{
  width: 100%;
  height: 850px;
  background-image: url('img/end.png');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 450px;
}